.actor-image-container {
    text-align: center;
}

.actor-description {
    text-align: center;
}

@media (min-width: 768px) {
    .actor-image-container {
        text-align: right;
    }

    .actor-description {
        text-align: left;
    }
}

/* Workaround webkit bug : https://bugs.webkit.org/show_bug.cgi?id=53166 */
.movie-description {
    text-align: left;
    display: table-row;
}

@media (max-width: 500px) {
    .movie-container {
        display: inline-block;
        width: 100%;
    }

    .movie-image {
        display: inline-block;
    }

    .movie-description {
        text-align: center;
    }
}
