.serie-link{
    cursor: pointer;
}

#app-content #tvshow-image img{
   width: 100%;
}
#app-content .panel {
    margin-top: 10px;
}

/*#app-content .panel {
    border-color: black;
}*/

#tvshow-title h1{
    font-size: 2.85em;
    line-height: 1;
}

#tvshow-release-date{
    font-size: 1.2em;
    margin-bottom: 6px;
}

#tvshow-image img{
    height: auto;
}

.panel{
    border-color:   #ddd;
}

#app-content .thumbnail img{
    height: auto;
}

#app-content .serie-episode-thumbnail{
    min-height: 180px;
    max-height: 250px;
    overflow-y: hidden;
}
.caption h3{
    font-size: 18px;
}

button.link {
    background:none;
    border:none;
    color: deeppink;
}
#EpisodeName{
    color: deeppink;
}
#EpisodeInformation{
    max-width:600px;
}
#EpisodeDuration{
    color: deeppink;
}
