.alert-added-follower{
    width: 500px;
    display: none;
}

.alert-not-added-follower{
    width: 500px;
    display: none;
}

.alert-unfollow{
    width: 500px;
    display: none;
}

.alert-unfollow-fail{
    width: 500px;
    display: none;
}

.alert-follower{
    width: 500px;
}

.friend-icon{
    display: inline-block;
}

.panel-followers{
    width: 800px;
}

.user-image-section img{
    width: 70px;
    margin-bottom: 20px;
}

.user-image-section{
    float: left;
}

.user-informations{
    margin-bottom: 30px;
}

.user-information-section{
    margin-left: 90px;
}

.user-information-section h4{
    color:#8E8B8B;
    margin-bottom: 5px;
}

.user-information-section p{
    color:#101010;
}

