<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/movie.css">
    <link rel="stylesheet" href="css/actor.css">
    <link rel="stylesheet" href="css/serie.css">
    <link rel="stylesheet" href="./css/layout.css">
    <script src="https://code.jquery.com/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="utilities.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js" type="text/javascript"></script>
    <title>test</title>
</head>
<script type="text/template" id="movie-template">
    <div class=".container-fluid movie-general-container">

        <h1><%=trackName%>
        </h1>
        <div>
            <a href="<%=trackViewUrl%>"
               style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:165px;height:40px;"></a>
        </div>
        <div class="container-fluid cover-container">
            <div>
                <img class="img-responsive center-block"
                     src="<%=artworkUrl100%>"/>
            </div>
        </div>
        <div class="thumbnail movie-infos">
            <div id="movie-info" class="container-fluid">
                <div>
                    <h4>Genre</h4>

                    <div><span><%=primaryGenreName%></span></div>
                </div>
                <div>
                    <h4>Release date</h4>

                    <div><span><%=releaseDate.toLocaleDateString()%></span></div>
                </div>
                <div>
                    <h4>MPAA rating</h4>

                    <div><span><%=contentAdvisoryRating%></span></div>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <h4>Summary</h4>

            <div class="d-td">
                <%=longDescription%>
            </div>
        </div>
        <div class="thumbnail">
            <h4>Trailer</h4>
            <div>
                <iframe width="100%" height="250" src="<%= parseYoutubeWatchLinkToEmbed(youtubeUrl) %>"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

        <button id="addToWatchListButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Add To WatchList
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">WatchLists List</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                WatchLists
                            </div>

                            <div class="col-md-8">

                                <select id="WatchListSelector">
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id ="SaveMovie" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
<script type="text/template" id="actor-template">
    <div class="container-fluid" id="wrapper">
        <div class="row well">

            <div class="col-sm-6 col-xs-12 actor-image-container">
                <img src="<%=artworkUrl%>">
            </div>
            <div class="col-sm-6 col-xs-12 actor-description">
                <h1><%=artistName%></h1>

                <p><%=primaryGenreName%></p>

                <div>
                    <a href="<%=artistLinkUrl%>"
                       style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:110px;height:40px;"></a>
                </div>

            </div>
        </div>
        <div class="actor-movie-list row">
            <% _.each(movies.models, function(movie) { %><!--to modify-->
            <div class="movie-item col-md-12 col-lg-6">
                <div class="thumbnail media">
                    <div class="movie-description">
                        <div class="media-left movie-container">
                            <img class="media-object movie-image"
                                 src="<%= movie.get('movie.artworkUrl100') %>">
                        </div>
                        <div class="media-body movie-container">
                            <h3 class="media-heading"><%= movie.get("trackName") %></h3>
                            <%= movie.get("releaseDate").toLocaleDateString() %>
                            <iframe width="100%" height="250" src="<%= movie.get('youtubeUrl') %>"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</script>
<script type="text/template" id="serie-template">
    <div id="tvshow-details">
        <div id="tvshow-title">
            <h1><%=collectionName%></h1>
        </div>
        <div id="tvshow-release-date">
            <%=releaseDate.toLocaleDateString()%>
        </div>

        <a href="<%=collectionViewUrl%>" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:165px;height:40px;"></a>

        <div id="tvshow-image">
            <img src="<%=artworkUrl100%>">
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="tvshow-information-title"><h3>Genre</h3></div>

                <div class="tvshow-informations">
                    <%=primaryGenreName%>
                </div>

                <div class="tvshow-information-title"><h3>Description</h3></div>

                <div class="tvshow-informations">
                    <%=longDescription%>
                </div>
                <hr>
                <div id="tvshow-preview">

                    <div class="tvshow-information-title"><h3>Trailer</h3></div>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="<%=parseYoutubeWatchLinkToEmbed(youtubeUrl)%>"></iframe>
                    </div>

                </div>

                <div id="tvshow-series">

                    <div class="tvshow-information-title"> <h3>Episodes list</h3></div>
                    <div class="row">
                        <% _.each(episodes.models, function(episode) { %>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="<%=episode.get('artworkUrl100')%>">

                                <div class="caption">
                                    <h3><%=episode.get('trackName')%></h3>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<body>
    <div id="app-content"/>
    <script src="app/scripts/libraries/Authentification.js"></script>
    <script src="movie.js"></script>
    <script src="views/ActorView.js"></script>
    <script src="actor.js"></script>
    <script src="views/SerieView.js"></script>
    <script src="serie.js"></script>
    <script src="app/scripts/models/watchList.js"></script>
    <script src="app/scripts/collections/watchLists.js"></script>
    <script src="views/MovieView.js"></script>
    <script src="test-bootstrap.js"></script>
</body>
</html>
