<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/backbone/node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules/backbone/backbone-min.js"></script>
    <script src=" Authentification.js"></script>
    <script src="watchList.js"></script>
    <script src="watchLists.js"></script>
    <script src="js/moviejs.js"></script>
    <link rel="stylesheet" href="css/watchList.css">
</head>
<body>
<div class="accordion">

</div>

    <script type="text/template" id="watchLists-template">
        <% _.each(watchLists.models, function(watchList) { %>
        <a href="#" watchList-id="<%= watchList.id %>" class="thumbnail">
            <h3><%= watchList.get("name") %></h3>
            <div></div>
        </a>

        <% }); %>

    </script>


    <!--           <div class="col-xs-10 col-md-2">
                   <a href="#" class="thumbnail">
                       <img src="images/Movie.png" width="171px" height="180px">
                   </a>
               </div>

               <div class="col-xs-10 col-md-2">
                   <a href="#" class="thumbnail">
                       <img src="images/Movie.png" width="171px" height="180px">
                   </a>
               </div>

               <div class="col-xs-10 col-md-2">
                   <a href="#" class="thumbnail">
                       <img src="images/Movie.png" width="171px" height="180px">
                   </a>
               </div>


               <div class="col-xs-10 col-md-2">
                   <a href="#" class="thumbnail">
                       <img src="images/Movie.png" width="171px" height="180px">
                   </a>
               </div>

               <div class="col-xs-10 col-md-2">
                   <a href="#" class="thumbnail">
                       <img src="images/Movie.png" width="171px" height="180px">
                   </a>
               </div>

               <div class="col-xs-10 col-md-2">
                   <a href="#" class="thumbnail">
                       <img src="images/Movie.png" width="171px" height="180px">
                   </a>
               </div>

               <div class="col-xs-10 col-md-2">
                   <a href="#" class="thumbnail">
                       <img src="images/Movie.png" width="171px" height="180px">
                   </a>
               </div>

               <div class="col-xs-10 col-md-2">
                   <a href="#" class="thumbnail">
                       <img src="images/Movie.png" width="171px" height="180px">
                   </a>
               </div>

           </div>

       </div>
       <h3>Section 2</h3>
       <div>

           <div class="col-xs-10 col-md-2">
               <a href="#" class="thumbnail">
                   <img src="images/Movie.png" width="171px" height="180px">
               </a>
           </div>

           <div class="col-xs-10 col-md-2">
               <a href="#" class="thumbnail">
                   <img src="images/Movie.png" width="171px" height="180px">
               </a>
           </div>

           <div class="col-xs-10 col-md-2">
               <a href="#" class="thumbnail">
                   <img src="images/Movie.png" width="171px" height="180px">
               </a>
           </div>

       </div>
       <h3>Section 3</h3>
       <div>

           <div class="col-xs-10 col-md-2">
               <a href="#" class="thumbnail">
                   <img src="images/Movie.png" width="171px" height="180px">
               </a>
           </div>

       </div>
       <h3>Section 4</h3>
       <div>
           <div class="alert alert-danger" role="alert">This WatchList doesn't contain any movie.</div>
       </div>-->


</body>
</html>