<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/backbone/node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules/backbone/backbone-min.js"></script>

    <link rel="stylesheet" href="css/watchList.css">
</head>
<body>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


</div>

    <script type="text/template" id="watchLists-template">
        <button type="button" id ="AddButton" class="btn btn-danger" data-toggle="modal" data-target="#newWatchList">Add Watchlist</button>
        <% _.each(watchLists.models, function(watchList) { %>
            <div class="panel panel-default">
                <div class="panel-heading"  role="tab" id="heading<%= watchList.id %>">
                    <h4 class="panel-title"   watchList-id="<%= watchList.id %>"  >
                        <a role="button" id="Title<%= watchList.id %>" contenteditable="false" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= watchList.id %>" aria-expanded="false" aria-controls="collapse<%= watchList.id %>">
                            <% if (watchList.get("name").length == 0) { %>
                                Name your watch List
                            <% } %>
                            <% if (watchList.get("name").length != 0) { %>
                                <%= watchList.get("name") %>
                            <% } %>
                        </a>
                        <div class="watchListOptions" >
                            <div class="glyphicon glyphicon-pencil" ></div>
                            <div class="glyphicon glyphicon-remove" ></div>
                        </div>
                    </h4>
                </div>
                <div id="collapse<%= watchList.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= watchList.id %>">
                    <div class="panel-body">
                        <% if (watchList.get("movies").length == 0) { %>
                            <div class="alert alert-danger" role="alert">This WatchList doesn't contain any movies.</div>
                        <% } %>

                        <% if (watchList.get("movies").length != 0) { %>
                            <div class ="movies">
                                <% _.each(watchList.get("movies"), function(movie) { %>
                                <div class ="movie" >
                                    <a role="button" class="delete-movie" watchList-id="<%= watchList.id %>" movie-id="<%= movie.trackId %>">
                                        <span class="glyphicon glyphicon-trash delete-movie-button" aria-hidden="true"></span>
                                    </a>
                                    <img src="<%= movie.artworkUrl100 %>" width="180px" height="200px">
                                </div>
                                <% }); %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>

              <% }); %>

        <div class="modal fade" id="newWatchList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add WatchList</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4"><h4>New watchList name</h4></div>
                            <div class="col-md-6"><input type="text" class="form-control watchListName"></div>
                        </div>
                        <div class="alert alert-danger add-watchList-alert" role="alert">Add WatchList name</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary watchListSaveButton">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </script>

    <script src="Authentification.js"></script>
    <script src="app/scripts/models/watchList.js"></script>
    <script src="app/scripts/collections/watchLists.js"></script>
    <script src="app/scripts/views/watchListsView.js"></script>
    <script src="test-bootstrap.js"></script>
</body>
</html>
