<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Umovie</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="styles/layout.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/movie.css">
        <link rel="stylesheet" href="styles/serie.css">
        <link rel="stylesheet" href="styles/actor.css">

    </head>
    <body>

        <div id="container">
            <div id="disqus_thread" style="display: none;"></div>
        </div>

        <div id = "error-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Oups, it looks like things went banana ...</h4>
                    </div>
                    <div class="modal-body">
                        <p id ="error-modal-content"></p>
                    </div>
                </div>
        </div>
        <div id = "signup-success-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Hurray!!!</h4>
                    </div>
                    <div class="modal-body">
                        <p> You have successfully joined the UMovie community. You will be redirected to the login page!</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/template" id="menu-template">
            <nav class="navbar navbar-default um-navbar-search">
                <div class="navbar-header">
                    <a class="navbar-brand hidden-xs um-navbar-brand" href="./index.html">
                        <img src="styles/images/logo.png"/>
                    </a>
                </div>

                <form class="form-inline navbar-form um-navbar-search-form" role="search">
                    <div class="form-group has-feedback">
                        <input type="text" id="input-search-global" class="form-control" placeholder="Search">
                        <i  class="glyphicon glyphicon-search form-control-feedback"></i>

                    </div>
                </form>
                <span type="submit" id="btn-search-global" class="btn btn-default navbar-btn">Search</span>
                <ul class="nav navbar-nav navbar-right um-navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle um-user-profile" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <img class="um-profile-picture" src="https://www.gravatar.com/avatar/<%=emailHash %>?d=identicon&s=40" />
                            <span class="um-username"> <%=name %> </span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"> Settings </a></li>
                            <li><a href="#" id="log-out"> Logout </a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="navbar navbar-default um-navbar">

                <div class="navbar-header um-navbar-header">
                    <ul class="nav nav-stacked um-navbar-list">
                        <li><a href="#" class="home-page-link"><span class="glyphicon glyphicon-home um-navbar-icon"> </span> <span
                            class="um-navbar-label"> Home </span></a></li>
                        <li><a href="#" class="watchlist-page-link"><span class="glyphicon glyphicon-list um-navbar-icon"> </span> <span
                            class="um-navbar-label"> Watchlists </span></a></li>
                        <li><a href="#" class="movie-page-link" data-movie-id="380040080"><span class="glyphicon glyphicon-film um-navbar-icon"> </span> <span
                            class="um-navbar-label"> Movies </span></a></li>
                        <li><a href="#" class="actor-page-link" data-actor-id="1056865385"><span class="glyphicon glyphicon-star-empty um-navbar-icon"></span> <span
                            class="um-navbar-label"> Movies Stars </span></a></li>
                        <li><a href="#" class="serie-page-link" data-serie-id="279175900"><span class="glyphicon glyphicon-film um-navbar-icon"> </span> <span
                            class="um-navbar-label"> Series </span></a></li>
                        <li class="um-navbar-user-more">
                            <a href="#" data-toggle="collapse" data-target="#um-user-navigation-menu" aria-expanded="false">
                                <span class="glyphicon glyphicon-user um-navbar-icon"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="um-user-navigation-menu">
                    <ul class="nav navbar-nav">
                        <li><a span="um-username"> <%=name %> </a></li>
                        <li><a href="#"> Settings </a></li>
                        <li><a href="#"> Logout </a></li>
                    </ul>
                </div>
            </nav>
        </script>

        <script type="text/template" id="home-page-template">
            <div id="menu-content"></div>
            <div id="app-content"></div>
        </script>

        <script type="text/template" id="welcome-page-template">
            <div id="welcome-carousel">
                <div class="caption-box">
                    <img class="logo" src="./images/logo.png" />
                    <h1> <span class="caption-u">U</span>r <span class="caption-m">M</span>ovie library </h1>
                </div>

                <div class="sign-in-box">
                    <button  id="go-to-signup" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect sign-in-button">Sign up </button>
                    <p> Or <a id="go-to-login" href="#" > Log in </a> if you already have an account</p>
                </div>

            </div>
        </script>

        <script type="text/template" id="signup-page-template">
            <div class="standalone-form-wrapper">
                <img class="logo" src="./images/logo.png" />
                <form class="form-horizontal" id="signup-form">
                    <h3> Join UMovie!</h3>
                    <div class="form-group">
                        <input type = "text" name="name" class="form-control" placeHolder="What's your name?" required = "required">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Your email address? (We swear, no spams)" required = "required">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="And add a very very strong password" required ="required">
                    </div>

                    <button type="submit" id="sign-up-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect sign-in-button">Sign up</button>
                    <p> Or <a class="go-to-login" href="#" > Log in </a> if you already have an account</p>
                </form>
            </div>
        </script>


        <script type="text/template" id="signin-page-template">
            <div class="standalone-form-wrapper">
                <img class="logo" src="./images/logo.png" />
                <form class="form-horizontal" id="signin-form">
                    <h3> Log in into UMovie!</h3>
                    <div class="sign-in-alert alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span>Wrong email/password combination </span>
                    </div>

                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" required = "required">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required ="required">
                    </div>

                    <button type="submit" id="sign-in-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect sign-in-button">Sign in</button>
                    <p> Or <a class="go-to-signup" href="#" > Sign up </a> if you don't have an account</p>
                </form>
            </div>

        </script>

        <script type="text/template" id="actor-page-template">
            <div class="container-fluid" id="wrapper">
                <div class="row well">

                    <div class="col-sm-6 col-xs-12 actor-image-container">
                        <img src="<%=artworkUrl%>">
                    </div>
                    <div class="col-sm-6 col-xs-12 actor-description">
                        <h1><%=artistName%></h1>

                        <p><%=primaryGenreName%></p>

                        <div>
                            <a href="<%=artistLinkUrl%>"
                               style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:110px;height:40px;"></a>
                        </div>

                    </div>
                </div>
                <div class="actor-movie-list row">
                    <% _.each(movies.models, function(movie) { %><!--to modify-->
                    <div class="movie-item col-md-12 col-lg-6">
                        <div class="thumbnail media">
                            <div class="movie-description">
                                <div class="media-left movie-container">
                                    <img class="media-object movie-image"
                                         src="<%= movie.get('movie.artworkUrl100') %>">
                                </div>
                                <div class="media-body movie-container">
                                    <h3 class="media-heading"><%= movie.get("trackName") %></h3>
                                    <%= movie.get("releaseDate").toLocaleDateString() %>
                                    <iframe width="100%" height="250" src="<%= movie.get('youtubeUrl') %>"
                                            frameborder="0"
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </script>

        <script type="text/template" id="movie-page-template">
            <div class=".container-fluid movie-general-container">

                <h1><%= trackName %>
                </h1>
                <div>
                    <a href="<%=trackViewUrl%>"
                       style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:165px;height:40px;"></a>
                </div>
                <div class="container-fluid cover-container">
                    <div>
                        <img class="img-responsive center-block"
                             src="<%=artworkUrl100%>"/>
                    </div>
                    <button id="addToWatchListButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add To WatchList</button>
                </div>

                <div class="thumbnail movie-infos">
                    <div id="movie-info" class="container-fluid">
                        <div>
                            <h4>Genre</h4>

                            <div><span><%=primaryGenreName%></span></div>
                        </div>
                        <div>
                            <h4>Release date</h4>

                            <div><span><%=releaseDate.toLocaleDateString()%></span></div>
                        </div>
                        <div>
                            <h4>MPAA rating</h4>

                            <div><span><%=contentAdvisoryRating%></span></div>
                        </div>
                    </div>
                </div>
                <div class="thumbnail">
                    <h4>Summary</h4>

                    <div class="d-td">
                        <%=longDescription%>
                    </div>
                </div>
                <div class="thumbnail">
                    <h4>Trailer</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="<%= youtubeUrl%>"
                                frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">WatchLists List</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        WatchLists
                                    </div>

                                    <div class="col-md-8">

                                        <select id="WatchListSelector">
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" id ="SaveMovie" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            </div>
            <div id="disqus_thread"></div>

        </script>

        <script type="text/template" id="serie-page-template">
            <div id="tvshow-details">
                <div id="tvshow-title">
                    <h1><%= collectionName %></h1>
                </div>
                <div id="tvshow-release-date">
                    <%= releaseDate.toLocaleDateString() %>
                </div>

                <a href="<%=collectionViewUrl%>" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:165px;height:40px;"></a>

                <div id="tvshow-image">
                    <img src="<%=artworkUrl100%>">
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="tvshow-information-title"><h3>Genre</h3></div>

                        <div class="tvshow-informations">
                            <%= primaryGenreName %>
                        </div>

                        <div class="tvshow-information-title"><h3>Description</h3></div>

                        <div class="tvshow-informations">
                            <%= longDescription %>
                        </div>
                        <hr>
                        <div id="tvshow-preview">

                            <div class="tvshow-information-title"><h3>Trailer</h3></div>

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="<%=youtubeUrl%>"></iframe>
                            </div>

                        </div>

                        <div id="tvshow-series">

                            <div class="tvshow-information-title"> <h3>Episodes list</h3></div>
                            <div class="row">
                                <% _.each(episodes.models, function(episode) { %>
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail serie-episode-thumbnail">
                                        <img src="<%=episode.get('artworkUrl100')%>">

                                        <div class="caption">
                                            <button class="link" episode-id="<%= episode.get('trackId') %>" data-toggle="modal" data-target="#serieEpisodeModal"><%= episode.get('trackName' )%></button>
                                        </div>

                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <div id="disqus_thread"></div>

                    </div>
                </div>
            </div>
            <div id="serieEpisodeModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="EpisodeCollectionName"></h4>
                    </div>
                    <div class="modal-body" id="EpisodeInformation">
                        <p id="EpisodeName"></p>
                        <p id="EpisodeDuration"></p>
                        <img src="#" class="img-thumbnail" id="episodeposter">
                        <div class="thumbnail">
                            <p id="EpisodeDescription" > </p>
                        </div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="#"  id="episodeReview"></iframe>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
            </div>
        </script>

        <script type="text/template" id="watchLists-template">
            <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control watchListName">
                <button type="button" class="btn btn-primary watchListSaveButton">Add Watchlist</button>
            </div>
            </div>
            <% _.each(watchLists.models, function(watchList) { %>
            <div class="panel panel-default">
                <div class="panel-heading"  role="tab" id="heading<%= watchList.id %>">
                    <h4 class="panel-title"   watchList-id="<%= watchList.id %>"  >
                        <div id="Title<%= watchList.id %>" contenteditable="false">
                            <% if (watchList.get("name").length == 0) { %>
                            Name your watch List
                            <% } %>
                            <% if (watchList.get("name").length != 0) { %>
                            <%= watchList.get("name") %>
                            <% } %>
                        </div>

                        <div class="watchListOptions" >
                            <a class="glyphicon glyphicon-collapse-down" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= watchList.id %>" aria-expanded="false" aria-controls="collapse<%= watchList.id %>">Open</a>
                            <a class="glyphicon glyphicon-pencil" href="#">Edit</a>
                            <a class="glyphicon glyphicon-remove" href="#">Remove</a>
                        </div>
                    </h4>
                </div>
                <div id="collapse<%= watchList.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= watchList.id %>">
                    <div class="panel-body">
                        <% if (watchList.get("movies").length == 0) { %>
                        <div class="alert alert-danger" role="alert">This WatchList doesn't contain any movies.</div>
                        <% } %>

                        <% if (watchList.get("movies").length != 0) { %>
                        <div class ="movies">
                            <% _.each(watchList.get("movies"), function(movie) { %>
                            <div class ="movie" >
                                <a role="button" class="delete-movie" watchList-id="<%= watchList.id %>" movie-id="<%= movie.trackId %>">
                                    <span class="glyphicon glyphicon-trash delete-movie-button" aria-hidden="true"></span>
                                </a>
                                <img src="<%= movie.artworkUrl100 %>" width="180px" height="200px">
                            </div>
                            <% }); %>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>

            <% }); %>

        </script>

        <script type="text/template" id="search-movie-template">
            <div>
                <input type="text" id="in-search-movie" class="form-control" width="80%" placeholder="Search">

                <span type="submit" id="btn-search-movie" class="btn btn-default">Search</span>
            </div>
            <div>
                <% if (models.length > 0) { %>
                <table class="table table-striped">
                    <tr>
                        <td></td><td>Title</td><td>Genre</td><td></td>
                    </tr>
                <% _.each(models, function(movie) { %>
                    <tr movieid="<%=movie.get('trackId')%>">
                        <td><img src="http://stickeramoi.com/7767-8578-large/autocollant-cinema-bobine-de-film.jpg" width="30px" height="30px"></td>
                        <td class="movie-link" ><%=movie.get('trackName')%></td>
                        <td><%=movie.get('primaryGenreName')%></td>
                        <td class="add-to-watchlist"><a>add to watchlist</a></td>
                    </tr>
                <%})%>
                </table>
                <%}%>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">WatchLists List</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    WatchLists
                                </div>

                                <div class="col-md-8">

                                    <select id="WatchListSelector-from-search">
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id ="SaveMovie-from-search" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="search-actor-template">
            <div>
                <input type="text" id="in-search-actor" class="form-control" placeholder="Search">

                <div type="submit" id="btn-search-actor" class="btn btn-default">Search</div>
            </div>
            <div>
                <% if (models.length > 0) { %>
                <table class="table table-striped">
                    <tr>
                        <td></td><td>Title</td><td>Genre</td><td></td>
                    </tr>
                    <% _.each(models, function(actor) { %>
                    <tr actorid="<%=actor.get('artistId')%>">
                        <td><img src="https://openclipart.org/image/2400px/svg_to_png/202776/pawn.png" width="30px" height="30px"></td>
                        <td class="actor-link" ><%=actor.get('artistName')%></td>
                        <td><%=actor.get('primaryGenreName')%></td>
                    </tr>
                    <%})%>
                </table>
                <%}%>
            </div>
        </script>

        <script type="text/template" id="search-serie-template">
            <div>
                <input type="text" id="in-search-serie" class="form-control" placeholder="Search">

                <div type="submit" id="btn-search-serie" class="btn btn-default">Search</div>
            </div>
            <div>
                <% if (models.length > 0) { %>
                <table class="table table-striped">
                    <tr>
                        <td></td><td>Title</td><td>Genre</td>
                    </tr>
                    <% _.each(models, function(serie) { %>
                    <tr serieid="<%=serie.get('collectionId')%>">
                        <td><img src="http://blog.slate.fr/tetes-de-series/files/2011/05/retro-tv-icon.jpg" width="30px" height="30px"></td>
                        <td class="serie-link" ><%=serie.get('collectionName')%></td>
                        <td><%=serie.get('primaryGenreName')%></td>
                    </tr>
                    <%})%>
                </table>
                <%}%>
            </div>
        </script>

        <script type="text/template" id="search-global-template">
            <div>
                <table class="table table-striped">
                    <tr>
                        <td></td><td>Title</td><td>Genre</td><td></td>
                    </tr>
                    <% _.each(actors.models, function(actor) { %>
                    <tr actorid="<%=actor.get('artistId')%>">
                        <td><img src="https://openclipart.org/image/2400px/svg_to_png/202776/pawn.png" width="30px" height="30px"></td>
                        <td class="actor-link" ><%=actor.get('artistName')%></td>
                        <td><%=actor.get('primaryGenreName')%></td>
                        <td></td>
                    </tr>
                    <%})%>
                    <% _.each(movies.models, function(movie) { %>
                    <tr movieid="<%=movie.get('trackId')%>">
                        <td><img src="http://stickeramoi.com/7767-8578-large/autocollant-cinema-bobine-de-film.jpg" width="30px" height="30px"></td>
                        <td class="movie-link" ><%=movie.get('trackName')%></td>
                        <td><%=movie.get('primaryGenreName')%></td>
                        <td class="add-to-watchlist-global"><a>add to watchlist</a></td>
                    </tr>
                    <%})%>
                    <% _.each(series.models, function(serie) { %>
                    <tr serieid="<%=serie.get('collectionId')%>">
                        <td><img src="http://blog.slate.fr/tetes-de-series/files/2011/05/retro-tv-icon.jpg" width="30px" height="30px"></td>
                        <td class="serie-link" ><%=serie.get('collectionName')%></td>
                        <td><%=serie.get('primaryGenreName')%></td>
                        <td></td>
                    </tr>
                    <%})%>
                </table>
                <!--add to watchlist global-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">WatchLists List</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        WatchLists
                                    </div>

                                    <div class="col-md-8">

                                        <select id="WatchListSelector-global">
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" id ="SaveMovie-global" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>


        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
        <script data-main="scripts/app" src="lib/requirejs/require.js"></script>



</body>
</html>
