<script type="text/template" id="actor_template">
    <div class="container-fluid" id="wrapper">
        <div class="row well">

            <div class="col-sm-6 col-xs-12 actor-image-container">
                <img src="http://ia.media-imdb.com/images/M/MV5BMTE5NTE3ODE1N15BMl5BanBnXkFtZTYwOTU1MTM2._V1_UY317_CR7,0,214,317_AL_.jpg">
            </div>
            <div class="col-sm-6 col-xs-12 actor-description">
                <h1>Jack Lemmon</h1>

                <p>Drama actor</p>

                <div>
                    <a href="https://itunes.apple.com/ca/artist/jack-lemmon/id23404209"
                       style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:110px;height:40px;"></a>
                </div>

            </div>
        </div>
        <div class="actor-movie-list row">
            <div class="movie-item col-md-12 col-lg-6">
                <div class="thumbnail media ">
                    <div class="movie-description">
                        <div class="media-left movie-container">
                            <img class="media-object movie-image"
                                 src="http://ia.media-imdb.com/images/M/MV5BMTM5MjYyNTQ5MF5BMl5BanBnXkFtZTgwMDM1MzcxMTE@._V1_SX214_AL_.jpg">
                        </div>
                        <div class="media-body movie-container">
                            <h3 class="media-heading">Glengarry Glen Ross</h3>
                            30 October 1992 (UK)
                            <iframe width="100%" height="250" src="https://www.youtube.com/embed/8kZg_ALxEz0"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="movie-item col-md-12 col-lg-6">
                <div class="thumbnail media ">
                    <div class="movie-description">
                        <div class="media-left movie-container">
                            <img class="media-object movie-image"
                                 src="http://ia.media-imdb.com/images/M/MV5BMTY5NjU3MjIwOF5BMl5BanBnXkFtZTYwMDMxNDY5._V1_SY317_CR3,0,214,317_AL_.jpg">
                        </div>
                        <div class="media-body movie-container">
                            <h3 class="media-heading"> The China Syndrome</h3>
                            16 March 1979 (USA)
                            <iframe width="100%" height="250" src="https://www.youtube.com/embed/iz98iW3D9iM"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>